{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/karimrhoualem/" target="_blank"><img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/karimrhoualem/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <p>Find me here as well!</p>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
